<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arrozcomfeijao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.arrozcomfeijao.View.EditarPerfil"></activity>
        <activity android:name="com.example.arrozcomfeijao.View.MeuPerfil" />
        <activity
            android:name="com.example.arrozcomfeijao.View.Login"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.arrozcomfeijao.View.PrincipalFuncionario" />
        <activity android:name="com.example.arrozcomfeijao.View.PrincipalCliente" />
        <activity android:name="com.example.arrozcomfeijao.View.Cardapio" />
        <activity android:name="com.example.arrozcomfeijao.View.CadastroCliente" />
        <activity android:name="com.example.arrozcomfeijao.View.UploadFoto" />
        <activity android:name="com.example.arrozcomfeijao.View.PrincipalAdmin" />
        <activity android:name="com.example.arrozcomfeijao.View.CadastroFuncionario" />
    </application>

</manifest>